.blog p {
  color:#444A57;
  font-weight: normal;
}

.blog-titles {
  text-align: center;
}

.blog h2 {
  font-size: 24px;
  font-weight: 500;
  color:#13B6A6;
}
.blog h3 {
  font-size:12px;
  font-weight: 200;

  color:rgb(100,100,100)
}
