/* Colors and fonts */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin: 0;
  padding:0;
}
h1, h2, h3 {

}
h1 {
  color: #13B6A6;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #13B6A6;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}
p {
}
li {
  list-style: none;
  padding-left: 0px;
}
em {
  font-size: 15px;
  font-weight: 300;
}
span {
  color: #13B6A6;
  font-weight: 600;
  font-size: 16px;
}
.p-white {
  color: white;
}
.p-dark {
  color: #444A57;
}
.dark {
  background-color: #444A57;
  margin:0;
  padding: 0;
}

/* Custom design with class (99% of your design) */

.flexbox {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
}
.flexbox a {
  margin: 10px;
  flex-grow: 1;
}
.video {
  overflow:hidden;
  margin: 0 auto;
}


.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: white;
}
.list-inline i:hover {
  color: #13B6A6;
}
#introduction p {
  margin-bottom: 40px;
}
